{% extends 'base.html' %}

{% import "bootstrap/wtf.html" as wtf %}

{% block content %}

<div>

    <div class="container-fluid" style="float: left;">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar" style="width: 290px;">
                <li><a href="{{url_for('module003.module003_index')}}">Home</a></li>
                <li><a href="{{url_for('module003.module003_create')}}">Create assignment</a></li>
                <li><a href="{{url_for('module003.module003_submit')}}">Submit assignment</a></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="container justify-content-center">

        <h1>Submit an assignment</h1>

        <div class="table-responsive">
        <table id="myTable" class="table table-striped">
          <thead>
            <tr>
              <th> </th>
              <th>Title</th>
              <th>Description</th>
              <th>Course Name</th>
              <th>Institution Name</th>
              <th>Expiring Date</th>
              <th>Submitted</th>
            </tr>
          </thead>
          <tbody>
            {% for row in rows %}
            <tr>


               <td> <a><form action="{{ url_for('module003.module003_submit_id', assignmentid=row.id) }}">
                   <input type="submit" value="Submit">
               </form> </a></td>
                <td>{{ row.title }}</td>
                <td>{{ row.body }}</td>
                <td>{{ row.course_name }}</td>
                <td>{{ row.institution_name }}</td>
                <td>{{ row.date_expire }}</td>
                <td>{{ submitted[loop.index0] }}</td>

            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>



    </div>


</div>

{% endblock %}