{% extends 'base.html' %}

{% import "bootstrap/wtf.html" as wtf %}

{% block content %}

<div>

    <div class="container-fluid" style="float: left;">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar" style="width: 290px;">
                <li><a href="{{url_for('module003.module003_index')}}">Home</a></li>
                <li><a href="{{url_for('module003.module003_create')}}">Create assignment</a></li>
                <li><a href="{{url_for('module003.module003_submit')}}">Submit assignment</a></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="container justify-content-center">

        <div class="table-responsive">
            <table id="myTable" class="table table-striped">
              <thead>
                <tr>
                    <th>User</th>
                    <th>Date submitted</th>
                    <th>Grade assignment</th>
                </tr>
              </thead>
              <tbody>
                {% for row in rows %}
                <tr>
                    <td>{{ row.username.username }}</td>
                    <td>{{ row.date_submitted }}</td>
                    <td> <a><form action="{{ url_for('module003.module003_grade_id', gradeid=row.id) }}">
                        <input type="submit" value={{ row.id }}>
                    </form> </a></td>

                </tr>
                {% endfor %}
              </tbody>
            </table>
        </div>


    </div>




</div>

{% endblock %}